.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.loginLeft {
  padding: 20px;
}

@media (min-width: 768px) {
  .loginContainer {
    display: flex;
    flex-direction: row;
    max-width: 850px;
    margin: auto;
  }
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
  text-align: center;
}

.loginDesc {
  font-size: 24px;
  text-align: center;
}

.loginRight {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.login__formContainer {
}
.login__form {
  display: flex;
  flex-direction: column;
}

.login__form input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.login__form input:focus {
  outline: none;
}

.login__btn {
  height: 50px;
  border-radius: 10px !important;
  border: none;
  background-color: #1775ee !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize !important;
}

.login__Forgot {
  text-align: center;
  color: #1775ee;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login__RegisterButtonContainer {
  align-self: center;
}

.login__RegisterButton {
  width: auto !important;
  border-radius: 10px !important;
  background-color: #42b72a !important;
  padding: 20px;
  color: white !important;
  font-size: 20px !important;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize !important;
}
