.login {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loginPage {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.loginLeft {
  padding: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .login {
    display: flex;
    flex-direction: row;
    max-width: 850px;
    margin: auto;
  }
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
  text-align: center;
}

.loginDesc {
  font-size: 24px;
  text-align: center;
}

.loginRight {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 80%;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login__btn {
  height: 50px;
  border-radius: 10px !important;
  font-size: 20px !important;
  font-weight: 500;
  text-transform: capitalize !important;
}

.login__Forgot {
  text-align: center;
  color: #1775ee;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login__signUpLink {
  text-align: center;
  color: #1775ee;
  display: flex;
  justify-content: center;
}
