.feed {
  /* display: flex;
  flex: 8;
  justify-content: center; */
  /* width: 32rem; */
  margin-top: 5rem;
}

.feedWrapper {
  /* width: 85%; */
}

.feed__msg {
  margin-top: 1.5rem;
}

@media (max-width: 990px) {
  .feedWrapper {
    width: 98%;
  }
}

@media (max-width: 768px) {
  .feed {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}
