.follow {
  margin-top: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profileBanner__msgBtn {
  text-transform: capitalize !important;
  background-color: #eff1f1 !important;
  color: black !important;
}
