.people {
  margin-top: 1rem;
}

.findPeopleTab__searchForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
}
.findPeopleTab__searchInput {
  outline: none;
  border: none;
  outline: none;
  overflow: hidden;
  background: none;
  width: 100%;
  font-size: large;
}
.findPeopleTab__suggestions {
  margin-top: 1rem;
}
.findPeopleTab__suggestionsHeader {
  margin-bottom: 0.5rem;
}
