.pageContainer {
  margin: 0;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .page {
    display: flex;
    margin: auto;
    max-width: 1180px;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }
  .pageContent {
    padding: 0 2rem;
  }
  .sidebar {
    display: contents;
  }
}
