.pageContainer {
  margin-top: 4rem;
  justify-content: center;
}
.page {
  display: flex;
  margin: auto;
  max-width: 1440px;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  gap: 1rem;
}

.pageContent {
  width: 70%;
}

.sidebar {
  display: contents;
}

@media (max-width: 768px) {
  .pageContainer {
    width: 100vw;
    margin-top: 3rem;
    /* padding: 0 0.5rem; */
  }
  .page {
    width: 100%;
  }
  .pageContent {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}
