.pageContainer {
  margin-top: 3rem;
  padding: 0 0.5rem;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .pageContainer {
    margin-top: 4rem;
  }
  .page {
    display: flex;
    margin: auto;
    max-width: 1440px;
    flex-direction: row;
    width: 95%;
    gap: 1rem;
  }

  .sidebar {
    display: contents;
  }
}
