.comment {
  display: flex;
  padding: 0.5rem;
}

.comment__textContainer {
  background-color: #f1f1f1;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  margin-left: 0.5rem;
  overflow-wrap: normal;
  width: fit-content;
}
.comment__username {
  font-weight: bold;
  font-size: small;
}
.comment__text {
  margin-top: 0.2rem;
  /* font-size: large; */
}
.comment__actions button {
  text-transform: capitalize;
  padding: 0 !important;
  width: auto !important;
}
.comment__actions {
  display: flex;
  align-items: center;
}
.comment__info {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.comment__dateEdit {
  margin-left: 0.1rem !important;
}
.comment__replies button {
  text-transform: capitalize;
}
.comment__likes {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: 0.5rem;
}
.comment__likeIcon {
  width: 18px;
  height: 18px;
}
.comment__likes:hover {
  cursor: pointer;
  border-bottom: 1px solid #000;
}
