.sidebar {
  width: 12rem;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  padding: 1rem;
}

.sidebarWrapper {
  padding-top: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: none !important;
}

.sidebarListItem:hover {
  background-color: #e3f2fd;
  cursor: pointer;
  color: #1976d2;
}

.sidebarIcon {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.sidebarListItemText {
  text-decoration: none !important;
}
.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 1rem;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar__FooterLinks {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 8px;
}

.sidebar__footerLink {
  text-decoration: none;
  color: #1976d2;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
