.post {
  margin-bottom: 1rem;
}

.postImg {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  font-size: 15px;
}
.postActions {
  padding: 0 !important;
}
.postActions button {
  text-transform: capitalize !important;
}

.postBottomLeft:hover,
.postBottomRight:hover {
  cursor: pointer;
  text-decoration: underline;
}
.post__menuList {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
