.profileBanner {
  /* margin: 1rem 0; */
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileBanner__info {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex: 1;
}
.profileBanner__username {
  color: grey;
}
.profileBanner__btn {
  text-transform: capitalize !important;
}
/* @media (max-width: 20px) {
  .profileBanner {
    flex-direction: column;
    text-align: center;
    gap: 0.3rem;
  }
  .profileBanner {
    padding: 0.2rem;
  }
} */
