.rightbarWrapper {
  width: 25%;
  margin-top: 1.2rem;
}

.peopleList {
  background-color: #f7f9f9 !important;
  border-radius: 10px;
  padding-top: 1rem;
}
.peopleList__header {
  padding: 1rem;
}

.profileBanner {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileBanner__text {
  display: flex;
  flex-direction: column;
}
.profileBanner__username {
  color: grey;
}
.profileBanner__btn {
  text-transform: capitalize !important;
}
.peopleList__seeMore {
  padding: 1rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.peopleList__seeMore:hover,
.profileBanner:hover {
  background-color: #eff1f1;
  cursor: pointer;
}

.peopleList__seeMoreLink {
  text-decoration: none;
  color: #1877f2;
}

@media (max-width: 768px) {
  .rightbarWrapper {
    display: none;
  }
}
