.rightbar {
  width: 22rem;
  height: calc(100vh - 50px);
  position: fixed;
  top: 5rem;
  right: 1rem;
}

.rightbar__userListHeader {
  padding: 1rem;
}

.rightbar__userList {
  background-color: #f7f9f9 !important;
  border-radius: 10px;
  padding-top: 1rem;
}

.rightbar__userListSeeMore {
  padding: 1rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rightbar__userListSeeMore:hover,
.profileBanner:hover {
  background-color: #eff1f1;
  cursor: pointer;
}

.rightbar__userListSeeMoreLink {
  text-decoration: none;
  color: #1877f2;
}

@media (max-width: 1020px) {
  .rightbar {
    display: none;
  }
}
/* 
@media (max-width: 986px) {
  .rightbar {
    width: 20%;
  }
  .rightbar__userListHeader {
    text-align: center;
    display: flex;
    padding: 0.25rem;
  }
} */
