.rightbarWrapper {
  width: 25%;
  margin-top: 1.2rem;
}

.peopleList {
  background-color: #f7f9f9 !important;
  border-radius: 10px;
  padding-top: 1rem;
}
.peopleList__header {
  padding: 1rem;
}

.peopleList__seeMore {
  padding: 1rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.peopleList__seeMore:hover,
.profileBanner:hover {
  background-color: #eff1f1;
  cursor: pointer;
}

.peopleList__seeMoreLink {
  text-decoration: none;
  color: #1877f2;
}

@media (max-width: 768px) {
  .rightbarWrapper {
    display: none;
  }
}

@media (max-width: 986px) {
  .rightbarWrapper {
    width: 20%;
  }
  .peopleList__header {
    text-align: center;
    display: flex;
    padding: 0.25rem;
  }
  .profileBanner {
    flex-direction: column;
    text-align: center;
    gap: 0.3rem;
  }
  .profileBanner {
    padding: 0.2rem;
  }
}
